body {
    background: linear-gradient(135deg, #c8102e 0%, #000000 50%, #c8102e 100%);
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #ffffff
}

.hero {
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 20px;
}

.title {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: linear-gradient(135deg, #c8102e 0%, #000000 50%, #c8102e 100%);
    border-radius: 12px;
    padding: 20px;
    border: 1px, solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-5px);
    border-color: #c8102e;
}

.card h3{
    color: #c8102e;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.card p {
    font-size: 0.95rem;
    color: #ffffff;
}